#rowfooter{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
}
html{
    background-image: url("https://ak1.picdn.net/shutterstock/videos/440221/thumb/1.jpg?i10c=img.resize(height:160)"); 
}