#rowfooter{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding: 10px; 
    padding-left: 5px;
    background-image: url("https://i.pinimg.com/originals/03/87/ef/0387ef0acdf21d21eaa8f2302608c183.jpg"); 
}
html{
    background-image: url("https://ak1.picdn.net/shutterstock/videos/440221/thumb/1.jpg?i10c=img.resize(height:160)"); 
}

h1{
    color: white;
}

h3{
    color: white;
}
